body {
  display: flex;
  justify-content: center;
  background-color: #3f8b8e;
}

input {
  background-color: #a8a8a8;
}

button {
  background: #ef762fd4;
  border-radius: 6px;
  border: none;
  padding: 6px;
}

button:hover:enabled {
  background-color: #ff8139 !important;
  cursor: pointer;
}

.submit-btn {
  margin-top: 1rem;
}

.toggle-btn {
  margin-top: 120px;
}

.logout-btn {
  margin-top: 60px;
}

.field {
  margin: 12px 0;
}

.form-error {
  position: absolute;
  color: rgb(129, 15, 15);
  font-size: 0.6rem;
}
